* {
	background-color: transparent;
	color: #ccc !important;
}
body, button, input, .modal-content {
	background-color: #333 !important;
}
tr:nth-child(odd) {
	background-color: rgba(102,102,102,0.25) !important;
}
kbd {
	background-color: #ccc !important;
	color: #333 !important;
}
.text-red {
	color:#f99 !important;
}
.text-green {
	color:#9f9 !important;
}
.text-blue {
	color:#99f !important;
}
::-moz-selection {
	background: #ccc;
}
::selection {
	background: #ccc;
}
#errorAlert p {
	color: #f93 !important;
}
#nightButton i {
	transform: scaleX(-1);
}
.st-btn {
	border: 1px solid #fff !important;
}