* {
	font-family: Roboto, Arial;
	text-align: center;
}
body {
	background-size: 40px 40px;
	background-image: linear-gradient(to right, rgba(204,204,204,0.25) 1px, transparent 1px), linear-gradient(to bottom, rgba(204,204,204,0.25) 1px, transparent 1px);
}
#errorAlert {
	color: #f93;
	border-color: #f93;
	background-color: transparent;
}
.form-control {
	cursor: default !important;
	display: inline !important;
	margin-right: 25px;
	width: 150px !important;
}
::-moz-selection {
	background: #999;
	color: #fff;
}
::selection {
	background: #999;
	color: #fff;
}
svg > g > g:last-child { /*prevent flickering on google charts*/
	pointer-events: none;
}
img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#rgbIcon {
	width: 48px !important;
}
.table-responsive { /*for bootstrap layouts*/
	overflow-x: auto;
	width: 90%;
}
tr:nth-child(odd) {
	background-color: rgba(204,204,204,0.25) !important;
}
.st-btn {
	background-color: #333 !important;
}
.text-red {
	color:#933;
}
.text-green {
	color:#393;
}
.text-blue {
	color:#339;
}
.mjx-chtml {
	display: inline !important;
}
.modal p, .modal h4, .modal li {
	text-align: left !important;
}
#icon {
	transition: 0.25s ease-in-out;
}
#icon.active {
	transform: scale(1.25);
}