* {
  font-family: Roboto, Arial;
  text-align: center;
}
#errorAlert {
  display: none;
}
.form-control {
  cursor: default !important;
}
.form-control{
  display: inline !important;
  margin-right: 25px;
  width: 150px !important;
}
::-moz-selection {
  background: #ccc;
}
::selection {
  background: #ccc;
}
svg > g > g:last-child { /*prevent flickering on google charts*/
  pointer-events: none;
}
#rgbIcon {
  width: 50px !important;
}
img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.table-responsive { /*for bootstrap layouts*/
    overflow-x: auto;
}
.st-btn {
  background-color: #333 !important; 
}